{% extends "base.html" %}

{% block pageheading %}Administration{% endblock %}

{% block main %}
<h3>Category Admin</h3>
<div class="login-box">
<h4>add a word</h4>
<form class="myform" method="post" action="/add_word">
    <div class="login-input">
        <div class="form-label"><label for="maori">Maori Name:</label></div>
        <div class="form-element"><input type="text" name="maori" id="maori" required></div>
    </div>
    <div class="login-input">
        <div class="form-label"><label for="english">english Name:</label></div>
        <div class="form-element"><input type="text" name="english" id="english" required></div>
    </div>
    <div class="login-input">
        <div class="form-label"><label for="category">category:</label></div>
            <select id="category" name="category">
                {% for category in categories %}
                <option value="{{ category[1] }}">{{ category[1] }}</option>
                {% endfor %}
            </select>
    </div>
    <div class="login-input">
        <div class="form-label"><label for="definition">definition:</label></div>
        <div class="form-element"><input type="text" name="definition" id="definition" required></div>
    </div>
    <div class="login-input">
        <div class="form-label"><label for="level">year level:</label></div>
        <div class="form-element"><input type="number" name="level" id="level" required></div>
    </div>
    <div class="login-input">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Add Word"></div>
    </div>
</form>

<h4>Add a category</h4>
<form class="myform" method="post" action="/add_category">
    <div class="login-input">
        <div class="form-label"><label for="name">Category Name:</label></div>
        <div class="form-element"><input type="text" name="name" id="name" required></div>
    </div>
    <div class="login-input">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Add Category"></div>
    </div>
</form>

<h4>Delete a category</h4>
<form class="myform" method="post" action="/delete_category">
    <div class="login-input">
        <div class="form-label"><label for="name">Category Name:</label></div>
        <div class="form-element">
            <select id="cat_id" name="cat_id">
                {% for category in categories %}
                <option value="{{ category[0] }}, {{ category[1] }}">{{ category[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="login-input">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Delete Category"></div>
    </div>
</form>
</div>

{% endblock %}