<!DOCTYPE html>
<html lang="en">
<head>
	<title>Maori Dictionary</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
	<button class="nav-button" onclick="openNav()">☰</button>

	<div class="navigation-container" id="myNav">
		<button onclick="closeNav()">×</button>
		<a href="/">Home</a>
		<a href="/words">Category</a>
		{% if logged_in %}
            <a href="/logout">logout</a>
            {% if is_teacher %}
                <a href="/admin">admin</a>
            {% else %}
                <a href="/student">student</a>
            {% endif %}
        {% else %}
            <a href="/login">login</a>
        {% endif %}

        <script>
            function openNav() {
                document.getElementById("myNav").classList.add("show");
            }

            function closeNav() {
                document.getElementById("myNav").classList.remove("show");
            }
	    </script>
	</div>

    <div class="container">
    <main>
        {% block main %}
        {% endblock %}
    </main>
    </div>
</body>
</html>