<!DOCTYPE html>
<html>
<head>
	<title>Maori Dictionary</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='smile.css') }}" rel="stylesheet">
</head>
<body>
	<button onclick="openNav()">☰</button>

	<div class="navigation-container" id="myNav">
		<button onclick="closeNav()">×</button>
		<a href="/">Home</a>
		<a href="#">category</a>
		<a href="#">login</a>
		<a href="#">info</a>
	</div>

	<div class="search-container">
		<div class="search-box">
			<input type="text" placeholder="Search...">
			<button>Search</button>
		</div>
	</div>

	<script>
		function openNav() {
			document.getElementById("myNav").classList.add("show");
		}

		function closeNav() {
			document.getElementById("myNav").classList.remove("show");
		}
	</script>
</body>
</html>
