<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block main %}
    <div class="login-box">
        <form class="login" method="POST">
            <div class="login-input">
                <div class="form-label">Email:</div>
                <div class="form-element"><input type="email" name="email" id="email" required></div>
            </div>
            <div class="login-input">
                <div class="form-label">Password:</div>
                <div class="form-element"><input type="password" name="password" id="password" required></div>
            </div>
            <div class="login-input">
                <div class="form-label"></div>
                <div class="form-element"><input type="submit" value="login"></div>
            </div>
        </form>
        <p><br><br><br>If you don't have an account, please <a href="/signup">sign up</a>.</p>
    </div>
{% endblock %}