<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block main %}
    <div class="category-menu">
        <p class="categories"><a href="/words">All Words </a></p>
    {% for category in categories %}
        <p class="categories"><a href="/words/{{ category[1] }}">{{ category[1] }} </a></p>
    {% endfor %}
    </div>
    {% for words in definitions %}
                <div class="single-word-box">
                    {% if is_teacher %}
                    <h2 class="maori-word">{{ words[0] }} <a href="/{{ words[0] }}/admin">admin</a> </h2>
                    {% else %}
                    <h2 class="maori-word">{{ words[0] }}</h2>
                    {% endif %}
                    <p class="english-word">{{ words[1] }}</p>
                    <p class="category">{{ words[2] }}</p>
                    <p class="definition">{{ words[3] }}</p>
                    <p class="year-level">{{ words[4] }}</p>
                    <p class="editor">LAST EDIT : {{ words[6] }}</p>
                    <div class="word-image">
                        <img src="static/images/{{ words[5] }}" height="100%" width="100%">
                    </div>
                </div>
    {% endfor %}
{% endblock %}