<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block main %}
	<div class="search-container-2">
        <div class="search-box" method="POST" action="/search">
            <form class="search-submit" method="POST" action="/search">
                <input type="text" name="search" id="search" placeholder="Search...">
                <input type="submit" value="🔍︎">
            </form>
        </div>
	</div>
    <h2>search</h2>
    <table>
        <thead>
        <td>maori</td>
        <td>english</td>
        <td>category</td>
        <td>definition</td>
        <td>level</td>
        </thead>
        <tbody>
        {% for words in definitions %}
            <tr>
                <td>{{ words[0] }}</td>
                <td>{{ words[1] }}</td>
                <td>{{ words[2] }}</td>
                <td>{{ words[3] }}</td>
                <td>{{ words[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}