<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block main %}
	<div class="search-container-2">
        <div class="search-box" method="POST" action="/search">
            <form class="search-submit" method="POST" action="/search">
                <input type="text" name="search" id="search" placeholder="Search...">
                <input type="submit" value="🔍︎">
            </form>
        </div>
	</div>
    <div class="definitions">
        {% for words in definitions %}
            <div class="dictionary-grid">
                <div class="word-box">
                    <h2 class="maori-word"><a href="/{{ words[0] }}">{{ words[0] }}</a></h2>
                    <p class="english-word">{{ words[1] }}</p>
                    <p class="category">{{ words[2] }}</p>
                    <p class="definition">{{ words[3] }}</p>
                    <p class="year-level">{{ words[4] }}</p>
                    <p class="editor">LAST EDIT : {{ words[5] }}</p>
                    <p class="date">Edit time : {{ words[6] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}