<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block main %}
    <div class="login-box">
        <form class="login" method="post">
            <div class="login-input">
                <div class="form-label">First Name</div>
                <div class="form-element"><input type="text" name="fname" required></div>
            </div>
            <div class="error">{{ fname_error }}</div>
            <div class="login-input">
                <div class="form-label">Last Name</div>
                <div class="form-element"><input type="text" name="lname" required></div>
            </div>
            <div class="error">{{ lname_error }}</div>
            <div class="login-input">
                <div class="form-label">email</div>
                <div class="form-element"><input type="email" name="email" required></div>
            </div>
            <div class="login-input">
                <div class="form-label">Password:</div>
                <div class="form-element"><input type="password" name="password" id="password" required></div>
            </div>
            <div class="error">{{ error }}</div>
            <div class="login-input">
                <div class="form-label">Confirm Password:</div>
                <div class="form-element"><input type="password" name="password2" id="password2" required></div>
            </div>
            <div class="login-input">
                <div class="form-label">Teacher Code:</div>
                <div class="form-element"><input type="code" name="code" id="code"></div>
            </div>
            <div class="login-input">
                <div class="form-label"></div>
                <div class="form-element"><input type="submit" value="Signup"></div>
            </div>
        </form>
    </div>
{% endblock %}