<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block main %}
    <div class="category-menu">
        <p class="categories"><a href="/words">All Words </a></p>
    {% for category in categories %}
        <p class="categories"><a href="/words/{{ category[1] }}">{{ category[1] }} </a></p>
    {% endfor %}
    </div>
    <h2>All Words</h2>
    {% for words in definitions %}
        <div class="dictionary-grid">
            <div class="word-box">
                <h2 class="maori-word">{{ words[1] }}</h2>
                <p class="english-word">{{ words[2] }}</p>
                <p class="category">{{ words[3] }}</p>
                <p class="definition">{{ words[4] }}</p>
                <p class="year-level">{{ words[5] }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}